body {
  overflow-x: hidden; 
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar-thumb {
  background: #fc9842; 
}

::selection {
  background: cyan;
}

.nav {
  align-self: center;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  color: #000;
  font-size: 1.7em;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

.nav-work:hover {
  transition: color 0.4s ease;
  color: #fe5f75;
}

.nav-git:hover {
  transition: color 0.4s ease;
  color: #09c6f9
}

.nav-rblx:hover {
  transition: color 0.4s ease;
  color: red
}

.nav-npm:hover {
  transition: color 0.4s ease;
  color: #26f596
}

.mid-head {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5em;
  text-align: center;
  margin-top: 14%;
  height: 80px;
}

.effects {
  align-items: center;
}

.effects-1 {
  width: 4em;
  height: 40em;
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
  transform: rotate(20deg);
  position: absolute;
  margin: auto;
  left: 50px;
  margin-top: 10%;
  z-index: -1;
}

.effects-2 {
  width: 4em;
  height: 37em;
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
  transform: rotate(20deg);
  position: absolute;
  margin: auto;
  margin-left: 86%;
  margin-top: -30%;
  z-index: -1;
}

.box {
  text-align: left; 
  margin-top: 1%;
}

.info-head {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4em;
  margin-left: 15%;
}

.info-para {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  margin-left: 15%;
  width: 46%;
  float:left;
}

li {
  font-family: Courier New;
}

.list-heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  margin-left: 15%;
  font-weight: bold;
  width: 46%;
}

.view-button {
  width: 43%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6em;
  padding: 15px;
  border: none;
  background-color: #FE92A1;
  color: white;
  margin-left: 15%;
}

.view-button:hover {
  transition: background-color 0.4s ease;
  background-color: #fe5f75;
}

.end {
  width: 100%;
  height: 10%;
  background-color: #181818;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}